@font-face {
  font-family: "myfontfamily";
  src: url("../fonts/lato-bold-webfont.woff") format("woff");
}

body {
  background: lime;
  background-image: url("../images/logo.jpeg");
  background-repeat: repeat;
  /* background-position: center; */
  font-family: 'myfontfamily', Arial, sans-serif;
}

.hello1 {
  color: blue;
  display: flex;
}