@font-face {
  font-family: "myfontfamily";
  src: url("../fonts/lato-bold-webfont.woff") format("woff");
}

body {
  background: lime;
  font-family: 'myfontfamily', Arial, sans-serif;
  display: flex;
}

.hello1 {
  color: blue;
  display: flex;
}