<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="content-type" content="text/html; charset=UTF8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta charset="UTF-8" />
    <style>
      .dummy-loader {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div id='show-dummy-loader' class='dummy-loader'>
      Loading ....
    </div>
    <script language="javascript">
      document.body.style.overflow = 'hidden'
      window.onload = function(e) {
        var loader = document.getElementById('show-dummy-loader');
        loader.parentNode.removeChild(loader);
        document.body.style.overflow = 'auto'
      };
    </script>
    <div id="app"></div>
  </body>
</html>
